
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  background: bisque;
  border: 20px solid rgb(110, 52, 33);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 210px;
  padding: 10px;
}
.colum{
display: inline-block;
}
.square{
  width: 110px;
  height: 110px;
}
.dark{
  background: rgb(110, 52, 33);
}
.light{
  background-color:bisque;
}
